* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;

    background-color: rgb(222, 226, 247);
}

.topnav {
    height: 2em;
    padding: 1em;
    background-color: rgb(46, 43, 61);
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.329);

    display: flex;
    justify-content: space-between;

    * {
        display: inline-block;
    }

    div {
        display: flex;
        align-items: center;
    }

    img {
        height: 100%;
        margin-right: 1em;
    }

    .tn-title {
        color: white;
        padding: 0;
        margin: 0;
        font-weight: 400;
        font-size: x-large;
    }

    .tn-separator {
        height: 20px;
        width: 2px;
        background-color: rgba(255, 255, 255, 0.212);
        margin: 0 20px;
    }

    .tn-navlink {
        display: flex;
        align-items: center;

        ul {
            list-style: none;
            padding: 0;
            margin: 0 0 2px 0;
            display: flex;
            gap: 5px;
        }

        a {
            color: white;
            padding: 6px 12px;
            text-decoration: none;
            border: 2px solid rgb(46, 43, 61);
            border-radius: 6px;

            &:hover {
                color: rgb(168, 143, 238);
                background-color: rgba(0, 0, 0, 0.308);
                cursor: pointer;
            }
        }

        p {
            color: white;
            padding: 6px 12px;
            text-decoration: none;
            border: 2px solid rgb(46, 43, 61);
            border-radius: 6px;
            user-select: none;
        }

        a[chosen] {
            color: rgb(160, 131, 241);
            background-color: rgba(0, 0, 0, 0.534);
        }
    }
}

main {
    display: flex;

    .mainlist {
        flex: 5;

        .maincontrols {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1em;

            div, form  {
                flex: 1;
                display: flex;
                align-items: center;
            }
        }

        .createbtn {
            --updatecolor: rgb(92, 37, 245);
            padding: 0 2em 0 2em;
            background-color: var(--updatecolor);
            border: 2px solid var(--updatecolor);
            border-radius: 5px;
            color: rgb(255, 255, 255);
            box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.329);
        }

        .search {
            padding: 0.5em;
            height: 2em;
            width: 100%;
            border: 2px solid rgba(75, 75, 75, 0.438);
            font-size: medium;
        }
    }

    button {
        font-size:large;
        margin: 0.5em;
        min-height: 2.5em;

        &:hover {
            cursor: pointer;
        }
    }

    select {
        font-size:large;
        border: 1px solid rgba(19, 35, 124, 0.37);
        border-radius: 5px;
        padding: 5px;
        min-height: 2.5em;
        width: 98%;
    }

    .productlist {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .product {
            margin: 0.5em;
            overflow: hidden;
            flex-basis: calc(33.33% - 1em);
            background-color:rgb(237, 235, 247);
            border: 2px solid rgb(245, 245, 245);
            border-radius: 6px;
            box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.329);
            box-sizing: border-box;
            cursor: pointer;

            * {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            span {
                padding: 0.6em;
            }

            .productname {
                background-color: rgb(245, 245, 245);

                img {
                    width: 50px;
                    height: 50px;
                    display: inline-block;
                }

            }

            .productinfo {
                span {
                    color:rgba(0, 0, 0, 0.678);
                }
            }

        }
    }

    .customerlist, .transactionlist {
        padding: 0 1em 1em 1em;
    }

    .customerlist, .transactionlist, .detailtransactionlist {
        table {
            width: 99%;

            td {
                padding: 0.4em;
                vertical-align: top;
            }

            thead td {
                border-bottom: 4px solid rgba(0, 0, 0, 0.644);
            }

            tbody {
                tr:hover {
                    background-color: rgba(51, 36, 104, 0.192);
                }

                td {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.336);
                    word-break: break-word; /* Breaks long words */
                    white-space: normal;
                    cursor: pointer;
                }

            }
        }
    }

    .sideinfo {
        flex: 2;
        min-height: calc(100vh - 4em);
        background-color: rgb(241, 241, 241);
        box-shadow: -4px 0 6px -2px rgba(0, 0, 0, 0.329);

        .updatebtn {
            --updatecolor: rgb(245, 103, 37);
            background-color: var(--updatecolor);
            border: 2px solid var(--updatecolor);
            border-radius: 5px;
            color: rgb(255, 255, 255)
        }

        .confirmbtn {
            --confirmcolor: rgb(44, 146, 61);
            background-color: var(--confirmcolor);
            border: 2px solid var(--confirmcolor);
            border-radius: 5px;
            color: rgb(255, 255, 255);
        }

        .cancelbtn {
            --cancelcolor: rgb(124, 117, 113);
            background-color: var(--cancelcolor);
            border: 2px solid var(--cancelcolor);
            border-radius: 5px;
            color: rgb(255, 255, 255);
        }

        .deletebtn {
            --deletecolor: rgb(231, 37, 37);
            background-color: var(--deletecolor);
            border: 2px solid var(--deletecolor);
            border-radius: 5px;
            color: rgb(255, 255, 255);
        }

        .receiptbtn {
            --receiptcolor: rgb(88, 118, 253);
            background-color: var(--receiptcolor);
            border: 2px solid var(--receiptcolor);
            border-radius: 5px;
            color: rgb(255, 255, 255);
        }

        .crudbuttonsect {
            display: flex;

            button {
                flex-basis: calc(50% - 1em);
            }
        }

        img {
            width: 100%;
            height: 20vh;
            object-fit: cover;
        }

        .paddedinfo {
            padding: 1em;
        }

        .information {
            .moreinfo-flex {
                display: flex;

                .productsideinfo {
                    flex: 1;
                    color:rgba(18, 11, 83, 0.959);
                }
            }

            .moreinfo {
                .customersideinfo, .transactionsideinfo {
                    padding: 0.2em;

                    td {
                        vertical-align: top;
                        padding: 0em 0.3em 0.5em 0.3em;
                    }
                }
            }

            p {
                padding: 0;
                margin: 0;
            }

            h1 {
                margin: 0 0 0.7em 0;
            }

            h2 {
                padding: 0;
                margin: 0.1em 0 0.5em 0;
            }

            button {
                flex-basis: calc(50% - 1em);
            }
        }

        .infocrud, .createobj {

            label {
                color: rgb(19, 35, 124);
                display: block;
                font-size: large;
                margin-top: 0.5em;
                margin-bottom: 5px;
            }

            input {
                width: 95%;
                height: 1.8em;
                border: 1px solid rgba(19, 35, 124, 0.37);
                border-radius: 5px;
                padding: 5px;
                font-size: medium;
            }

            img {
                width: 50%;
                height: 50%;
            }
        }
    }
}


.cashier {
    display: flex;

    .quantity-control {
        display: flex;
        align-items: center;
        user-select: none;

        button {
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            padding: 5px 10px;
            cursor: pointer;
        }

        span {
            margin: 0 10px;
            min-width: 20px;
            text-align: center;
        }
    }

    .c-product-list {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        user-select: none;
        background-color: white;
        min-height: calc(100vh - 4em);
        box-shadow: 4px 0 6px -2px rgba(0, 0, 0, 0.329);

        .productlist {
            .product {
                display: flex;
                margin: 0.5em;
                overflow: hidden;
                background-color:rgb(245, 245, 245);
                border: 2px solid rgb(245, 245, 245);
                border-radius: 6px;
                box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.329);
                box-sizing: border-box;
                cursor: pointer;
                justify-content: space-between;

                .productname {
                    display: flex;
                    font-size: medium;

                    * {
                        font-weight: 400;
                    }

                    span {
                        margin: 0 0.5em;
                    }
                }

                .productinfo {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    margin-right: 1em;

                    i {
                        font-size: medium;
                        color: rgb(20, 20, 43);
                    }

                    b {
                        font-size: small;
                        color: rgb(36, 12, 124);
                        font-weight: normal;
                    }
                }
            }

            img {
                width: 50px;
                height: 50px;
                object-fit: cover;
            }

        }
    }

    .c-menu {
        flex: 3;
        margin: 0.5em;
        padding: 0.5em;

        .table-menu {
            height: 55vh;
            overflow-y: auto;
            background-color: #4947d142;
            padding: 0.5em;
            border: 2px solid rgba(0, 0, 0, 0.596);
            border-radius: 4px;
        }

        .bottomcashier {
            display: flex;

            div {
                flex: 1;
                margin: 0.2em;
            }

            h2 {
                padding: 0;
                margin: 0.2em 0;
            }

            .harga div {
                margin: 0.8em 1em 0.8em 0;
                padding: 0.4em 1em;
                background-color: rgba(37, 37, 37, 0.137);
            }

            .tombolcashier {
                margin: 0.8em 0 0.8em 1em;
                padding: 0.4em 1em;
            }

            select {
                font-size:large;
                border: 1px solid rgba(19, 35, 124, 0.37);
                border-radius: 5px;
                padding: 5px;
                min-height: 2.5em;
                width: 98%;
            }

            input {
                width: 95%;
                height: 1.8em;
                border: 1px solid rgba(19, 35, 124, 0.37);
                border-radius: 5px;
                padding: 5px;
                font-size: medium;
            }

            label {
                color: rgb(19, 35, 124);
                display: block;
                font-size: large;
                margin-top: 0.5em;
                margin-bottom: 5px;
            }

            .confirmbtn {
                --confirmcolor: rgb(44, 146, 61);
                background-color: var(--confirmcolor);
                border: 2px solid var(--confirmcolor);
                border-radius: 5px;
                color: rgb(255, 255, 255);
            }

            .cancelbtn {
                --cancelcolor: rgb(124, 117, 113);
                background-color: var(--cancelcolor);
                border: 2px solid var(--cancelcolor);
                border-radius: 5px;
                color: rgb(255, 255, 255);
            }

            button {
                font-size:large;
                width: 100%;
                height: 3em;
                margin: 0.4em 0;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        table {
            width: 99%;
            user-select: none;

            td {
                padding: 0.4em;
                vertical-align: top;
            }

            thead td {
                border-bottom: 4px solid rgba(0, 0, 0, 0.644);
            }

            tbody {
                tr:hover {
                    background-color: rgba(51, 36, 104, 0.192);
                }

                td {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.336);
                    word-break: break-word;
                    white-space: normal;
                    cursor: pointer;
                }

            }
        }
    }
}

.landing {
    padding: 12em 40em 0 5em;
    height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;

    hr {
        margin: 2em 0;
        border: 2px solid white;
    }

    h1, p {
        color: white;
    }

    p {
        margin: 0.2em 0;
        padding: 0;

        font-size: 20px;
    }

    div {
        margin: auto;
    }
}

.dashboardform {
    padding: 2em 70vw 2em 2em;


    .boxes div {
        background-color: white;
        padding: 0.4em 0 0.4em 2em;
        margin: 0.4em;
        box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.329);
        border-radius: 5px;
    }

    .green {
        border: 5px solid rgba(21, 116, 13, 0.781);
    }

    .yellow {
        border: 5px solid rgba(194, 142, 30, 0.781);
    }

    .red {
        border: 5px solid rgba(209, 29, 29, 0.781);
    }

    .blue {
        border: 5px solid rgba(44, 30, 175, 0.781);
    }


    hr {
        border: 1px solid rgba(0, 0, 0, 0.568);
    }
}
